beautifulsoup4
chromedriver-py
contractions
gensim
lxml
matplotlib
nltk
numpy
pandas
praw
pydantic
pydantic-settings
pymysql
rich
rake-nltk
requests
scikit-learn
scipy
selenium
SQLAlchemy
tqdm
yellowbrick