<div style="width: 250px">
	<h4>{{ details.well_name }}</h4>
	<b>API Number:</b> {{ api_no }}<br />
	<div style="margin-top: 10px">
		<h5>Location:</h5>
		<b>Closest City:</b> {{ location.closest_city }}<br />
		<b>County:</b> {{ location.county }}<br />
		<b>Latitude:</b> {{ location.latitude }}<br />
		<b>Longitude:</b> {{ location.longitude }}<br />
	</div>
	<div style="margin-top: 10px">
		<h5>Production:</h5>
		<b>Latest Barrels of Oil Produced:</b> {{
		production.latest_barrels_of_oil_produced }}<br />
		<b>Latest MCF of Gas Produced:</b> {{
		production.latest_mcf_of_gas_produced }}<br />
	</div>
	<div style="margin-top: 10px">
		<h5>Details:</h5>
		<b>Operator:</b> {{ details.operator }}<br />
		<b>Well Status:</b> {{ details.well_status }}<br />
		<b>Well Type:</b> {{ details.well_type }}<br />
		<b>Source:</b> <a href="{{ details.link }}" target="_blank">Link</a
		><br />
	</div>
	<div style="margin-top: 10px">
		<h5>Treatment:</h5>
		<b>Date Stimulated:</b> {{ stimulation_details.date_stimulated }}<br />
		<b>Stimulated Formation:</b> {{ stimulation_details.stimulated_formation
		}}<br />
		<b>Top (ft):</b> {{ stimulation_details.top_ft }}<br />
		<b>Bottom (ft):</b> {{ stimulation_details.bottom_ft }}<br />
		<b>Stimulation Stages:</b> {{ stimulation_details.stimulation_stages
		}}<br />
		<b>Volume:</b> {{ stimulation_details.volume }} {{
		stimulation_details.volume_units }}<br />
		<b>Type of Treatment:</b> {{ stimulation_details.type_treatment }}<br />
		<b>Lbs of Proppant:</b> {{ stimulation_details.lbs_proppant }}<br />
		<b>Maximum Treatment Pressure (psi):</b> {{
		stimulation_details.maximum_treatment_pressure_psi }}<br />
		<b>Maximum Treatment Rate (bbls/min):</b> {{
		stimulation_details.maximum_treatment_rate_bbls_per_min }}<br />
	</div>
</div>
