motor
numpy
pandas
pandas-datareader
passlib[bcrypt]
bcrypt==4.0.1
pyarrow
pydantic
pydantic-settings
pymongo
pymongo[srv]
pyrate-limiter
python-dotenv
requests
requests-cache
requests-ratelimiter
rich
yfinance